<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title> 
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<div id="banner">
	 <%= image_tag("http://en.es-static.us/upl/2009/06/Alpha_Centauri_-MSX_IPAC_NASA_cropped-300x214.jpg") %>
	<p><%= page_title %></p>
	<form>
		<div class="field">
			<%= label_tag :email %>
			<%= text_field_tag :email %>
			<%= label_tag :password %>
			<%= password_field_tag :password %>
			<%= submit_tag 'Sign in' %>
		</div>
	</form>

</div>
<div id="menu">
	 <div id="side">
	 <ul>
	 <li><a href="#>Blog</a></li>
	 <li><a href="#">Questions</a></li>
	 <li><a href="#">News</a></li>
	 <li><a href="#">Contact</a></li>
	 </ul>
	 </div>
<%= yield %>

</body>
</html>
